.root {
  height: 100%;
  width: 100%;
}

.sign-in-sheet {
  align-items: 'center';
  background-color: white;
  display: 'flex';
  flex-direction: 'column';
  width: 40%;
  margin: 2rem auto;
  padding: 2rem;
}

.welcome {
  text-align: center;
}