.root {
  height: 100%;
  width: 100%;
}

.appBar {
  background-color: #1E4072;
  box-shadow: none;
  border-bottom: 0.5px solid white;
  height: 5em;
  position: absolute;
}

.menu {
  display: table;
  height: 100%;
  table-layout: fixed;
}

.menuItem {
  display: table-cell;
  vertical-align: middle;
}

.menuItem p {
  margin: 0;
  text-align: center;
}

.rightBorderWhite {
  border-right: 0.5px solid white;
}
